<ion-content [fullscreen]="true">
  <ion-button (click)="openPopover1()">ion-datetime mode="ios"</ion-button>
  <ion-popover [isOpen]="isPopover1" arrow="false" style="--offset-y: -35%;">
    <ng-template>
      <ion-datetime local="ja-JP" presentation="date" showDefaultTimeLabel="false" min="2019" mode="ios">
      </ion-datetime>
    </ng-template>
  </ion-popover>
  <ion-button (click)="openPopover2()">ion-datetime mode="md"</ion-button>
  <ion-popover [isOpen]="isPopover2" arrow="false" style="--offset-y: -35%;">
    <ng-template>
      <ion-datetime local="ja-JP" presentation="date" showDefaultTimeLabel="false" min="2019" mode="md">
      </ion-datetime>
    </ng-template>
  </ion-popover>
</ion-content>
